body{  
    background-image: url("/street/static/imagens/cast1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    
   
   
}


#logo_home{
    width: 50%;
    height: 50%;
}



#body{
    margin-top: -150px;
    top: 50%;
    left: 50%;
    margin-left: -300%;
}

    #book{
        background-color: rgb(167, 204, 204);
        padding: 50px;
        font-size: 150%;
        margin-top: 5%;
        margin-bottom: 15%;
        margin-left: 3%;
        margin-right: 60%;
        border-top: solid 15px yellow
    }

#butao{
    width: 50%;
    height: 50%;
    margin-left: 50%;
    background-color: yellow;
    color: black;
}


#h1{
    display: inline-block;
    margin: 0%;
    padding: 0;
}



