body{
    background-image: url("/street/static/imagens/background_home.jpg");
    background-attachment: fixed;
    
}
/* NavBar Start*/



#logo_home{
    width: 50%;
    height: 50%;
}

#espaco{
   
    margin: 20px;
}

#navbar{
    background-color: #f7f7f7;


}
#logo{ 
    font-size: 36px;
    font-weight: 900;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: rgb(0, 153, 255) ;
}

.navbar-toggler span{
    color:rgb(0, 153, 255)
}
.navbar-nav{
    margin-left: 20px;

}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition:0.5 ease;


}
.nav-item .nav-link:hover{
    background: rgb(0, 153, 255);
    color: white;

}
.navbar form button {
    background: rgb(0, 0, 0);
    color: white;
    border: none;

}

#caixa{
    padding-left: 20%;
    border: 5px;
    padding: 5%;
    background-color: #f7f7f7;
}

#book{
    background-color: white;
    padding: 50px;
    font-size: 150%;
    margin-top: 30%;
    margin-bottom: 15%;
    margin-left: 5%;
  
    border-top: solid 15px yellow
}

#tour_content{ 

background-color: white;
width: 100%;
height: 700%;
}

#img{
    margin-left: 20px;
}

#choose_thetour { 
    
font-size: 300%;
font-family: sans-serif;
text-align: center;
background-color: rgb(0, 195, 255);
border-radius: 15px;
height: 400px;
width: 100%;
padding-top: 70px;
color: azure;

}



#tour_button{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border-color: white;
font-size: 25%;
padding: 10px;
margin: 3%;
border-radius: 7px;
width: 15%;
color: white;

}
#p_tour{ 
    font-size: 150%;

}
#second_p_tour{ 
    font-size: 100%;
    
}


#first_img_tour{ 

margin-left: 10%;
margin-top: 15%;
}



#footer{ 
background-color: aliceblue;

padding-left: 20%;
padding-top: 1%;
margin-top: 100%;
width: 100%;
height: 60px;




}
.text_contet{ 

color: rgb(0, 0, 0);


}

#triped_footer_img{ 

padding-left: 6%;


}

#yelp_footer_img{ 

padding-left: 5%;

}

#insta_footer_img{

padding-left: 6%;

}

#fb_footer_img{

padding-left: 7%;


}

/* Home Section End */